#aboutContainer{
 display: flex;
 background-color: lightgray;
 margin: 0;
 padding: 0;
}

.about{
 max-width: 50%;
 margin: 0;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
}

p{
  font-size: 2rem;
  max-width: 30%;
}

.about-img {
 padding-left: 1em;
 margin: 5%;
}