section{
 position: fixed;
 z-index: 2000;
 width: 100vw;
 max-height: 40rem;
 background-image: url(../images/SerenitySpringsHeader.jpg);
 background-size: cover;
 margin: 0;
 padding: 0;
}


@media screen and (max-width: 900px) {
 .page-header{
  font-size: 2rem;
  font-weight: 900;
 }
}