section{
 z-index: 2000;
 width: 100vw;
 height: 60rem;
 background-image: url(../images/pexels-heyho-7750104.jpg);
 background-size: cover;
 background-position: 50% 50%;
 margin: 0;
 padding: 0;
}


@media screen and (max-width: 900px) {
 .page-header{
  font-size: 2rem;
  font-weight: 900;
 }
}