#navBar{
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  margin: 0; 
  width: 100%;
}

nav{
  background-color: darkgreen;
  color: black;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3vh;
}

ol{
  padding: 0 1vw;
  display: flex;
  list-style: none;
  text-transform: uppercase;
  flex: 1 1 auto;
  border-left: 2px solid lightgrey;
}

ol:first-child {
 border-left: none;
}

li{
 flex: 1;
 text-align: center;
 align-content: center;
}

li:hover{
 cursor: pointer;
}

.headerTitle{
 font-size: 4vh;
 margin: 0 2%;
 font-family: "MS Madi", serif;
 font-weight: normal;
 color: white;
 text-shadow: 2px 1px 2px black;
}

@media screen and (max-width: 810px) {
.headerTitle{
  text-align: center;
  width: 100%;
 }
 ol{
  font-size: 2vw;
 }
 ol:nth-child(2){
  border-left: none;
 }
}