nav{
 background-color: white;
 color: black;
 font-weight: bold;
 display: flex;
 min-width: 100%;
}

ol{
 display: flex;
 list-style: none;
 text-transform: uppercase;
 flex: 1;
 justify-content: center;
 border-left: 2px solid lightgrey;
}

ol:first-child{
 border-left: none;
}

li{
 /* justify-content: center; */
 padding: 0 15%;
 margin: 0;
}

li:hover{
 cursor: pointer;
}

h1{
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 5rem;
 font-family: "MS Madi",
  serif;
 font-weight: normal;
 color: white;
}

