.service-container{
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 1%;
  margin: 1%;
  padding: 1%;
  align-items: center;
  background-color: white;
  height: 80vh;
  /* width: 30vw; */
}

.service-title{
  margin: 0;
}
.service-image{
 padding: 0;
 margin: 0;
 max-height: 40%;
 aspect-ratio: 10/16;
}

.service-description{
  height: 10%;
  width: 90%;
  font-size: 2.3vh;
}

a.book-btn{
  padding: 1vw;
  background-color: darkgreen;
  color: white;
  font-weight: 800;
  margin-top: auto
}