#servicesContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(25, 62, 4, 0.795);
  width: 100%;
}

.services{
  display: flex;
  justify-content: space-evenly;
}

.services-header{
  margin: 0;
}

@media screen and (max-width: 1080px) {
  .services{ 
    justify-content: center;
    flex-wrap: wrap;
  }
}