.service-container{
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  margin: 5%;
  align-items: center;
  padding: 1% 0;
}

.service-title{
  margin: 0;
}
.service-image{
 padding-left: 0;
 margin: 0;
 width: 50%;
 height: 50%;
}

.service-description{
  padding: 0 5%;
  min-height: 15%;
  margin-bottom: 5%;
}

a.book-btn{
  background-color: darkgreen;
  color: white;
  font-weight: 800;
  padding: 2%;
  justify-self: flex-end;
}