#servicesContainer{
 display: flex;
 flex-direction: column;
 text-align: center;
 background-color: darkgreen;
 width: 100%;
}

.services{
 display: flex;
 justify-content: space-evenly;
}

.services-header{
  margin: 0;
}

@media screen and (max-width: 900px) {
 .services{ 
  justify-content: center;
  flex-wrap: wrap;
 }
}