.services-container{
 display: flex;
 flex-direction: column;
 text-align: center;
 padding-top: 50vh;
}

.services{
 display: flex;
 justify-content: space-evenly;
 margin-top: 5vh;
}


@media screen and (max-width: 900px) {
 .services-container {
   padding-top: 60vh;
  }
 .services{ 
  justify-content: center;
  flex-wrap: wrap;
 }
}